
:root {
    --dark-bg-color: #1E2531;
    --medium-bg-color: #2C3445;
    --light-bg-color: #3A4256;
    --accent-color: #FFD369;
    --text-color: #EFEFEF;
}

.shoppinglist-page-box{
    color: black;
    background-color: beige;
    display: flex;
    flex-flow: row nowrap;
}

.list-group{
    max-width: 400px;

}
