
<div class="container mt-4">
    <div class="card recipe-card">
        <div class="card-body p-4">
            <!-- Increased padding in card body -->
            <form>
                <div class="row">
                    <!-- Portions -->
                    <div class="col-md-6 mb-3">
                        <div class="input-group">
                            <label class="input-group-text" for="howManyIn">Portions</label>
                            <input type="number" class="form-control" name="howManyIn" id="howManyIn" min="1" max="10" @bind="RecipeRequest.portions">
                        </div>
                    </div>

                    <!-- Recipe Type -->
                    <div class="col-md-6 mb-3">
                        <div class="input-group">
                            <label class="input-group-text" for="recipeType">Recipe type</label>
                            <select class="form-select" name="recipeType" id="recipeType" @bind="RecipeRequest.category">
                                <option value="Any">Any</option>
                                <option value="Breakfast">Breakfast</option>
                                <option value="Lunch">Lunch</option>
                                <option value="Dinner">Dinner</option>
                                <option value="Dessert">Dessert</option>
                                <option value="Snack">Snack</option>
                            </select>
                        </div>
                    </div>

                    <!-- Max Cook Time -->
                    <div class="col-12 mb-3">
                        <div class="input-group">
                            <label class="input-group-text" for="maxCookTimeIN">Max cook time</label>
                            <input type="number" class="form-control" id="maxCookTimeIN" min="1" max="999" @bind="RecipeRequest.maxCookTime">
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public RecipeRequestEasyDTO RecipeRequest { get; set; }

    protected override void OnInitialized()
    {
        // Set the default value for RecipeRequest.category to "Any"
        RecipeRequest.category = "Any";
        RecipeRequest.difficulty = "Any";
    }


}
