

/* whole page settings*/

.cookbookItems{
    margin-bottom: 2rem;
}

/* ------------- */

/* --- loading animation box --- */

.loading-box{
    text-align: center;
    margin-top: 4rem;
}

/* ----------------- */



/* -- search bar -- */
.search-bar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    color: black;
}

    .search-bar input[type="text"] {
        width: 100%;
        padding: 10px;
        border: 2px solid #25B608;
        border-radius: 5px;
        font-size: 20px;
        background-color: transparent; /* Set background to transparent */
        color: black; /* Set text color to white */
    }

.search-details-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.mealtype-box,
.cooktime-box {
    flex-grow: 1;
}

    .mealtype-box select,
    .cooktime-box input[type="number"] {
        width: 100%;
        padding: 10px;
        border: 2px solid #25B608;
        border-radius: 5px;
        font-size: 20px;
        background-color: transparent; /* Set background to transparent */
        color: black; /* Set text color to white */
    }

.search-bar label {
    font-weight: bold;
}

.search-bar button {
    background-color: transparent; /* Set background to transparent */
    color: black; /* Set text color to white */
    cursor: pointer;
    padding: 10px;
    border: solid 2px #25B608;
    border-radius: 5px;
    font-size: 16px;
}

    .search-bar button:hover {
        background-color: #25B608;
    }

/* ------------ */




/* --- recipe list ---*/

.recipe-box{
    max-height: 30rem;
    overflow-y:auto;

    margin: 1rem 0;
    padding: 1rem 0;
}

.icons{
    font-size: 40px;
}

.recipe-list-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    color: black;
}

.recipe-item {
    border: 2px solid #25B608;
    border-radius: 10px;
    margin-bottom: 1rem;
    background-color: rgba(128, 128, 128, 0.3);
}

.recipe-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

    .recipe-header h3 {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .recipe-header span {
        font-size: 0.8rem;
        margin-right: 0.5rem;
    }

    .recipe-header p {
        font-size: 0.8rem;
        margin-bottom: 0;
    }

.recipe-expand-btn {
    background-color: transparent;
    border: 2px solid #25B608;
    padding: 0.5rem;
    cursor: pointer;
    color: black;
    border-radius: 15px;
}

    .recipe-expand-btn:hover {
        background-color: #92F97D;
        color: black;
    }

.recipe-details {
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    padding: 1rem;
}

    .recipe-details h3 {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .recipe-details p {
        font-size: 0.8rem;
        margin-bottom: 0;
    }

.desc-and-ingr-steps-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    color: black;
    border: solid #25B608 2px;
    border-radius: 15px;
    max-height: 150px;
    overflow-y: auto;
    padding: 10px 0;
}

.recipe-ingr-steps-box{
    display:flex;
    flex-flow: row wrap;
    justify-content:space-between;
    width: 50%;
    
}

.Btn-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top:2rem;
}

.recipe-ingredients {
    list-style-type: none;
    padding: 0;
}

    .recipe-ingredients li {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }

.recipe-steps {
    list-style-type: none;
    padding: 0;
}

    .recipe-steps li {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }

.alterBtn {
    background-color: transparent;
    border: 2px solid #25B608;
    padding: 0.5rem;
    cursor: pointer;
}

    .alterBtn:hover {
        background-color: #92F97D;
    }

.removeBtn {
    background-color: transparent;
    color: black;
}

.updateBtn {
    background-color: transparent;
    color: black;
}

@media (max-width: 576px) {
    .recipe-list-box {
        padding: 0.5rem;
    }

    .recipe-item {
        margin-bottom: 0.5rem;
    }

    .recipe-header {
        flex-direction: column;
        align-items: center;
    }

    .recipe-expand-btn {
        width: 100%;
    }

    .recipe-details {
        padding: 0.5rem;
    }

    .recipe-ingredients li {
        font-size: 0.7rem;
    }

    .recipe-steps li {
        font-size: 0.7rem;
    }

    .alterBtn {
        font-size: 0.7rem;
    }
}

.newRecipeBtn{
    margin:0 auto;
    color:black;
    background-color: transparent;
    border-radius: 15px;
    padding: 10px;
}

.saveToBackend-box {
    display: flex;
    flex-flow: column wrap;
    font-size: 20px;
    border: solid #25B608 2px;
    border-radius: 15px;
    margin: 2rem;
    padding: 15px;
}

.saveToBackend-box i {
    font-size: 1.3rem;
}

.saveToBackend-box button{
    width: 70%;
    margin: 0 auto;
    border-radius: 15px;
    background-color: transparent;
}


/* --------------------- */

/* --- add new recipe / update recipe --- */

.all-input-box {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

    .all-input-box input, select, textarea {
        background-color: transparent;
        border: solid #25B608 2px;
        border-radius: 15px;
    }

.see-ingr-box, .see-steps-box {
    background-color: transparent;
    border: solid #25B608 2px; 
    color: black;
}

.simple-input-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.one-input-box {
    width: 30%;
    margin-bottom: 0.5rem;
}

label {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

input,
textarea,
select {
    width: 100%;
    border: 2px solid #25B608;
    padding: 0.5rem;
}

.ingr-and-steps-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.enter-ingredients-box {
    width: 100%;
    margin-bottom: 1rem;
    border: solid #25B608 2px;
    padding: 1rem;
    border-radius: 15px;
}

.see-ingr-box {
    width: 100%;
    height: 100px;
    overflow-y: auto;
    border: 1px solid #25B608;
    padding: 0.5rem;
}

.one-ingredient-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.ingrName {
    font-size: 1.2rem;
    font-weight: 600;
}

.ingrQuant {
    font-size: 1rem;
}

.add-ingr-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid #25B608 2px;
}

.enter-steps-box {
    border: solid #25B608 2px;
    padding: 1rem;
    border-radius: 15px;
}

.see-steps-box {
    width: 100%;
    height: 100px;
    overflow-y: auto;
    border: 1px solid #25B608;
    padding: 0.5rem;
}

.one-step-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.add-steps-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input-check {
    display: flex;
    align-items: center;
}

    .input-check label {
        margin-right: 0.5rem;
    }

button {
    cursor: pointer;
    background-color: transparent;
    color: black;
    border: 1px solid #25B608;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

    button:hover {
        background-color: #25B608;
    }

@media (max-width: 576px) {
    .all-input-box {
        max-width: 100%;
    }

    .simple-input-box {
        flex-direction: column;
    }

    .one-input-box {
        width: 100%;
    }

    .ingr-and-steps-box {
        flex-direction: column;
    }

    .enter-ingredients-box {
        width: 100%;
    }

    .see-ingr-box {
        height: 200px;
    }

    .see-steps-box {
        height: 200px;
    }
}
/* --------------------------------------- */
