
/* -------------------- */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
}

.mealplanner-box {
    max-width: 1100px;
    margin: 2rem auto;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5em;
    margin-bottom: 1rem;
}

i {
    display: block;
    font-style: italic;
    margin: 0.5rem 0;
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

    button:hover {
        background-color: #0056b3;
    }

    button[type="submit"] {
        display: block;
        margin-top: 1rem;
    }

/* Error Message */
@errorMessage {
    color: red;
    font-weight: bold;
}

.all-gen-recipies {
    display: flex;
    flex-flow: row wrap;
}

/* Meal Plan Generator Styles */
.howManyRecipesBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.mealplanner-info-box h2 {
    font-size: 1.3em;
}

.mealplan-add-remove-box button {
    margin-left: 0.5rem;
}

/* Recipe Card Styles */
.recipe-card {
    padding: 1rem;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    margin-top: 1rem;
}

.desc-box,
.ingredients,
.instructions,
.recipe-details {
    margin-top: 1rem;
}

    .recipe-details p {
        margin: 0.3rem 0;
    }

ul, ol {
    margin-left: 1.5rem;
}

/* Loading Box */
.loading-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #e7e7e7;
    border-radius: 5px;
    margin-top: 1rem;
}

.spinner-border {
    margin-right: 1rem;
}

/* Shopping List Info */
.shopping-List-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #e7e7e7;
    border-radius: 5px;
    margin-top: 1rem;
}

/* Shopping List Box */
.shoppinglist-box h3 {
    margin-top: 0;
}

.recipe {
    border-top: 1px solid #e7e7e7;
    padding-top: 1rem;
}

.ingredient-list {
    margin-left: 1.5rem;
}