
@inject NavigationManager NavigationManager
@inject ILocalStorageService localStorageService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient http


<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">Your Brand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink class="nav-link text-primary" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item dropdown text-primary">
                        <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Food
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <NavLink class="dropdown-item" href="cookbook-overview">Recipes</NavLink>
                            <NavLink class="dropdown-item" href="mealGen">Meal Generator</NavLink>
                            <NavLink class="dropdown-item" href="shoppinglistpage">Shopping List</NavLink>
                        </div>
                    </li>
                    <li class="nav-item dropdown text-primary">
                        <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Personal
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <NavLink class="dropdown-item" href="diary" >Diary</NavLink>
                            <NavLink class="dropdown-item" href="todo">Todo</NavLink>
                            <NavLink class="dropdown-item" href="bucketlist">Bucketlist</NavLink>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="login" @onclick="logout">
                            <span class="bi bi-box-arrow-right fa-3x" aria-hidden="true"></span> Sign Out
                        </a>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li class="nav-item">
                        <NavLink class="nav-link text-primary" href="login">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Login
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-primary" href="register">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Register
                        </NavLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</nav>

@code {

    async Task logout(){
        await localStorageService.RemoveItemAsync("JwtToken");
        http.DefaultRequestHeaders.Authorization = null;
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("login");
    }
}
