

<div class="mealplanner-box">

    <div class="howManyRecipesBox">
        <button @onclick="addRecipeToList">+</button>
        <button @onclick="removeRecipeFromList"></button>
    </div>

    <form @onsubmit="SubmitMealPlanner">
        <div class="AllRecipeInBox">
            @for(int i =0; i < recipeRequests.Count; i++){
                <RecipeRequestBoxComp RecipeRequest="recipeRequests[i]" />
            }
        </div>
        <button type="submit">Generate</button>
    </form>

</div>

@code {


    private List<RecipeRequestEasyDTO> recipeRequests = new List<RecipeRequestEasyDTO>()
    {
        new RecipeRequestEasyDTO()
    };

    private void SubmitMealPlanner()
    {   
        //all recipe requests are now saved and avaiable here. do the post request and get the recipes back

    }

    private void addRecipeToList()
    {
        recipeRequests.Add(new RecipeRequestEasyDTO());
    }

    private void removeRecipeFromList()
    {
        recipeRequests.RemoveAt(recipeRequests.Count - 1);
    }

}
