@inject HttpClient Http

@using System.Text.Json;

<div class="mealplanner-box">

    <h2>@errorMessage</h2>

    <div class="howManyRecipesBox">
        <button @onclick="addRecipeToList">+</button>
        <button @onclick="removeRecipeFromList"></button>
    </div>

    <form @onsubmit="SubmitMealPlanner">
        <div class="AllRecipeInBox">
            @for(int i =0; i < recipeRequests.Count; i++){
                <RecipeRequestBoxComp RecipeRequest="recipeRequests[i]" />
            }
        </div>
        <button type="submit">Generate</button>
    </form>

</div>

@code {

    private string errorMessage = "";


    private List<RecipeRequestEasyDTO> recipeRequests = new List<RecipeRequestEasyDTO>()
    {
        new RecipeRequestEasyDTO()
    };

    private async void SubmitMealPlanner()
    {

        //demo stuff 

        // var json = JsonSerializer.Serialize(recipeRequests);
        // Console.WriteLine(json);
        // --- end demo stuff

        Console.WriteLine("starting meal plan request");
        try
        {
            var response = await Http.PostAsJsonAsync("meal/easy", recipeRequests);
            if (!response.IsSuccessStatusCode)
            {
                //show error message
                errorMessage = "wrong username or password";
                Console.WriteLine(response);
                return;
            }

            Console.WriteLine("meal plan request done");

            var recipes = await response.Content.ReadFromJsonAsync<List<Recipe>>();
            foreach(var recipe in recipes)
            {
                Console.WriteLine(recipe.RecipeName);
            }

            Console.WriteLine("all done bruh " + recipes.Count);

        }catch(Exception e)
        {
            Console.WriteLine(e.Message);
        }

    }

    private void addRecipeToList()
    {
        recipeRequests.Add(new RecipeRequestEasyDTO());
    }

    private void removeRecipeFromList()
    {
        recipeRequests.RemoveAt(recipeRequests.Count - 1);
    }

}
