@using OrganizerBlazor.Models.CookBookDTO;


<div class="one-recipe-spec-box">
    <div class="portionSelectorDiv">
        <label for="portions">Portions:</label>
        <input type="number" id="portions" name="portions" min="1" max="100" @bind="RecipeRequest.Portions" @bind:event="oninput">
    </div>
    <div class="mealTypeSelectorDiv">
        <select @onchange="HandleMealTypeChange">
            @foreach (var mealType in MealTypes.Keys)
            {
                <option value="@mealType">@mealType</option>
            }
        </select>
    </div>

    <div class="recipeSelectorDiv">
        <select @bind="RecipeRequest.Name" required>
            <option value="" >Select Dish</option>
            @if (MealTypes.TryGetValue(selectedMealType, out var recipes))
            {
                foreach (var recipe in recipes)
                {
                    <option value="@recipe.RecipeName">@recipe.RecipeName</option>
                }
            }
        </select>
    </div>
</div>

@code {
    [Parameter]
    public Dictionary<string, List<SpecificRecipeGen>> MealTypes { get; set; } = new();

    [Parameter]
    public SpecificRecipeRequest RecipeRequest { get; set; }

    private int selectedPortions = 1;
    private string selectedMealType;

    private void HandleMealTypeChange(ChangeEventArgs e)
    {
        selectedMealType = e.Value.ToString();
        // Do your additional logic here
        RecipeRequest.Name = "";
    }

    protected override void OnInitialized()
    {
        if (MealTypes != null && MealTypes.Count > 0)
        {
            selectedMealType = MealTypes.Keys.First();
        }
    }
}